@model AppsPresencial.Models.ClsValidez

@{

    <h1 style="color:navy">Hola bienvenido esta es la pagina donde esta Registrado</h1>

    <ol type="A">

        <li style="color:blueviolet">Nombre</li>
        <li style="color:blueviolet">Edad</li>
        <li style="color:blueviolet">Sexo</li>
        <li style="color:blueviolet">TipoDeEstudio</li>

    </ol>
}
